In [165]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
import plotly.express as px
import plotly.graph_objects as go
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

%matplotlib inline

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [166]:
df = pd.read_csv('data.csv')

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

In [200]:
df

,Parking,Swimming Pool,Restaurant,Room Service,Fitness Centre,Spa & Wellness Centre,Business Centre,Facilities for Disabled,Airport Shuttle,Non-smoking Rooms,...,Highspeed Internet,Airconditioning,Safe/Vault,Tennis Court,Indoor Pool,Pet-friendly,Casino,Golfcourse,Beach Access,Ski-In Ski-Out
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
753,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
755,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
757,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
758,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

## 1. Data Profiling:
Data profiling is a comprehensive process of examining the data available in an existing dataset and collecting statistics and information about that data.

In [168]:
df.shape

(759, 33)

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759 entries, 0 to 758
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  759 non-null    int64
 1   Parking                     606 non-null    float64
 2   Swimming Pool               272 non-null    float64
 3   Restaurant                  317 non-null    float64
 4   Room Service                403 non-null    float64
 5   Fitness Centre              301 non-null    float64
 6   Spa & Wellness Centre       211 non-null    float64
 7   Business Centre             278 non-null    float64
 8   Facilities for Disabled     416 non-null    float64
 9   Airport Shuttle             203 non-null    float64
 10  Non-smoking Rooms           543 non-null    float64
 11  Babysitting/Child Services  49 non-null     float64
 12  Meeting/Banquet Facilities  254 non-null    float64
 13  Car Rental                  148 non-null    float64
 14  Breakfast Buffet            51 non-null     float64
 15  Bar/Lounge                  136 non-null    float64
 16  Kids Activities             18 non-null     float64
 17  Game Room                   47 non-null     float64
 18  Dry Cleaning                346 non-null    float64
 19  Valet Parking               152 non-null    float64
 20  name                        759 non-null    object
 21  rate                        539 non-null    float64
 22  review                      539 non-null    object
 23  Highspeed Internet          595 non-null    float64
 24  Airconditioning             590 non-null    float64
 25  Safe/Vault                  460 non-null    float64
 26  Tennis Court                28 non-null     float64
 27  Indoor Pool                 159 non-null    float64
 28  Pet-friendly                48 non-null     float64
 29  Casino                      99 non-null     float64
 30  Golfcourse                  114 non-null    float64
 31  Beach Access                203 non-null    float64
 32  Ski-In Ski-Out              368 non-null    float64
dtypes: float64(30), int64(1), object(2)
memory usage: 195.8+ KB

In [196]:
df.describe()

,Parking,Swimming Pool,Restaurant,Room Service,Fitness Centre,Spa & Wellness Centre,Business Centre,Facilities for Disabled,Airport Shuttle,Non-smoking Rooms,...,Highspeed Internet,Airconditioning,Safe/Vault,Tennis Court,Indoor Pool,Pet-friendly,Casino,Golfcourse,Beach Access,Ski-In Ski-Out
count,497.000000,497.000000,497.000000,497.00000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,...,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000
mean,0.804829,0.374245,0.430584,0.55332,0.412475,0.291751,0.374245,0.567404,0.265594,0.720322,...,0.798793,0.774648,0.615694,0.034205,0.203219,0.028169,0.006036,0.020121,0.008048,0.002012
std,0.396732,0.484415,0.495657,0.49765,0.492776,0.455026,0.484415,0.495935,0.442094,0.449293,...,0.401307,0.418235,0.486921,0.181939,0.402800,0.165622,0.077536,0.140555,0.089441,0.044856
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

The process of profiling differs slightly for categorical and numerical variables due to their inherent differences.

**The two main types of data are:**
- Quantitative (numerical) data
- Qualitative (categorical) data

### Data Quality Checks
Data quality checks involve the process of ensuring that the data is accurate, complete, consistent, relevant, and reliable. 


**Here are typical steps involved in checking data quality:**

#### 1. Reliability:
Evaluate the data's source and collection process to determine its trustworthiness.

In [171]:
# Sources Transfermarkt: https://www.transfermarkt.com/

#### 2. Timeliness: 
Ensure the data is up-to-date and reflective of the current situation or the period of interest for the analysis.

In [172]:
# The dataset from 2021-2022 and 2022-2023 and this is the last version of it

#### 3. Consistency: 

Confirm that the data is consistent within the dataset and across multiple data sources. For example, the same data point should not have different values in different places.

In [173]:
# The dataset is completely consistene every columns have the same valuse type

#### 4. Relevance: 
Assess whether the data is appropriate and applicable for the intended analysis. Data that is not relevant can skew results and lead to incorrect conclusions.

**Key considerations for relevance include:**

> 1. Sample Appropriateness: Confirm that your data sample aligns with your analysis objectives. For instance, utilizing data from the Northern region will not yield accurate insights for the Western region of the Kingdom.
>
> 2. Variable Selection: Any column will not be relevant for our analysis, we can get rid of these using the drop() method. We will set the “axis” argument to 1 since we’re dealing with columns, and set the “inplace” argument to True to make the change permanent.

In [174]:
df.drop(columns='Unnamed: 0' , inplace = True)

#### 5. Uniqueness: 
Check for and remove duplicate records to prevent skewed analysis results.

In [199]:
df[df.duplicated()]

Parking                       0
Swimming Pool                 0
Restaurant                    0
Room Service                  0
Fitness Centre                0
Spa & Wellness Centre         0
Business Centre               0
Facilities for Disabled       0
Airport Shuttle               0
Non-smoking Rooms             0
Babysitting/Child Services    0
Meeting/Banquet Facilities    0
Car Rental                    0
Breakfast Buffet              0
Bar/Lounge                    0
Kids Activities               0
Game Room                     0
Dry Cleaning                  0
Valet Parking                 0
name                          0
rate                          0
review                        0
Highspeed Internet            0
Airconditioning               0
Safe/Vault                    0
Tennis Court                  0
Indoor Pool                   0
Pet-friendly                  0
Casino                        0
Golfcourse                    0
Beach Access                  0
Ski-In Ski-Out                0
dtype: int64

In [176]:
df.drop_duplicates(inplace = True)

In [177]:
# go to delete duplicates columns

#### 6. Completeness: 
Ensure that no critical data is missing. This might mean checking for null values or required fields that are empty.

We will start by checking the dataset for missing or null values. For this, we can use the isna() method which returns a dataframe of boolean values indicating if a field is null or not. To group all missing values by column, we can include the sum() method.

In [178]:
df.isnull().sum()

Parking                        97
Swimming Pool                 311
Restaurant                    283
Room Service                  222
Fitness Centre                292
Spa & Wellness Centre         352
Business Centre               311
Facilities for Disabled       215
Airport Shuttle               365
Non-smoking Rooms             139
Babysitting/Child Services    460
Meeting/Banquet Facilities    322
Car Rental                    400
Breakfast Buffet              458
Bar/Lounge                    396
Kids Activities               482
Game Room                     459
Dry Cleaning                  262
Valet Parking                 392
name                            0
rate                          140
review                        140
Highspeed Internet             99
Airconditioning               111
Safe/Vault                    189
Tennis Court                  474
Indoor Pool                   390
Pet-friendly                  462
Casino                        410
Golfcourse                    398
Beach Access                  318
Ski-In Ski-Out                199
dtype: int64

In [179]:
# go to clean them

#### 7. Check Accuracy:

Verify that the data is correct and precise. This could involve comparing data samples with known sources or using validation rules.

**The process includes:**
1. Validating the appropriateness of data types for the dataset.
2. Identifying outliers  using established validation  rule

In [180]:
df.dtypes

Parking                       float64
Swimming Pool                 float64
Restaurant                    float64
Room Service                  float64
Fitness Centre                float64
Spa & Wellness Centre         float64
Business Centre               float64
Facilities for Disabled       float64
Airport Shuttle               float64
Non-smoking Rooms             float64
Babysitting/Child Services    float64
Meeting/Banquet Facilities    float64
Car Rental                    float64
Breakfast Buffet              float64
Bar/Lounge                    float64
Kids Activities               float64
Game Room                     float64
Dry Cleaning                  float64
Valet Parking                 float64
name                           object
rate                          float64
review                         object
Highspeed Internet            float64
Airconditioning               float64
Safe/Vault                    float64
Tennis Court                  float64
Indoor Pool                   float64
Pet-friendly                  float64
Casino                        float64
Golfcourse                    float64
Beach Access                  float64
Ski-In Ski-Out                float64
dtype: object

In [181]:
# go to clean them

In [182]:
# check outliers

## 2. Data Cleaning: 

Preliminary findings from data profiling can lead to cleaning the data by:
- Handling missing values
- Correcting errors.
- Dealing with outliers.

-------------------

### Handling missing values:

In [183]:
numeric_col = [col for col in df.columns if df[col].dtype != 'object']
cate_col = [col for col in df.columns if df[col].dtype == 'object']

In [184]:
for col in cate_col:
    if df[col].isnull().sum() > 0:
        df[col].fillna('0', inplace=True)

for col in numeric_col:
    if df[col].isnull().sum() > 0:
        df[col].fillna(0, inplace=True)

C:\Users\S7\AppData\Local\Temp\ipykernel_19648\1871137559.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('0', inplace=True)
C:\Users\S7\AppData\Local\Temp\ipykernel_19648\1871137559.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(0, inplace=True)

In [185]:
df['review']

0      5662 reviews
1       830 reviews
2      1389 reviews
3                 0
4      2895 reviews
           ...
749    4149 reviews
753     408 reviews
755               0
757    1647 reviews
758     202 reviews
Name: review, Length: 497, dtype: object

In [186]:
df['review'] = df['review'].map(lambda x: x.split(" ")[0])

In [187]:
df = df.astype({"review": int})

In [188]:
# float_col = [col for col in df.columns if df[col].dtype == 'float']

In [194]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 497 entries, 0 to 758
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Parking                     497 non-null    float64
 1   Swimming Pool               497 non-null    float64
 2   Restaurant                  497 non-null    float64
 3   Room Service                497 non-null    float64
 4   Fitness Centre              497 non-null    float64
 5   Spa & Wellness Centre       497 non-null    float64
 6   Business Centre             497 non-null    float64
 7   Facilities for Disabled     497 non-null    float64
 8   Airport Shuttle             497 non-null    float64
 9   Non-smoking Rooms           497 non-null    float64
 10  Babysitting/Child Services  497 non-null    float64
 11  Meeting/Banquet Facilities  497 non-null    float64
 12  Car Rental                  497 non-null    float64
 13  Breakfast Buffet            497 non-null    float64
 14  Bar/Lounge                  497 non-null    float64
 15  Kids Activities             497 non-null    float64
 16  Game Room                   497 non-null    float64
 17  Dry Cleaning                497 non-null    float64
 18  Valet Parking               497 non-null    float64
 19  name                        497 non-null    object
 20  rate                        497 non-null    float64
 21  review                      497 non-null    int64
 22  Highspeed Internet          497 non-null    float64
 23  Airconditioning             497 non-null    float64
 24  Safe/Vault                  497 non-null    float64
 25  Tennis Court                497 non-null    float64
 26  Indoor Pool                 497 non-null    float64
 27  Pet-friendly                497 non-null    float64
 28  Casino                      497 non-null    float64
 29  Golfcourse                  497 non-null    float64
 30  Beach Access                497 non-null    float64
 31  Ski-In Ski-Out              497 non-null    float64
dtypes: float64(30), int64(1), object(1)
memory usage: 128.1+ KB

In [190]:
# df[float_col] = df[float_col].astype(int)

In [191]:
# go back to 6th dimention --> Completeness

In [195]:
df.to_csv('test.csv')

### Correcting errors

-------------------

In [193]:
# go back to 7th dimension Accuracy

### 2. Univariate Non-Graphical analysis: 

- Where is the center of the data? (location) --> **Measures of central tendency**
- How much does the data vary? (scale) --> **Measure of variability**
- What is the shape of the data? (shape) --> **Measures of variation combined with an average (measure of center) gives a good picture of the distribution of the data.**

## 4. Bivariate/Multivariate Analysis:

Here, you look at the relationships between two or more variables. This can involve looking for correlations, patterns, and trends that suggest a relationship or an association.

We can perform bi-variate analysis for any combination of categorical and numerical variables. The combination can be:
| bi-variate variables   | Plot type |
| ------------- | ------------- |
| Categorical & Categorical| Stacked Bar Chart |
| Categorical & numerical  | scatter plot, histogram, box plot|
| numerical  & numerical  | Scatter plot, line chart| 


Multivariate Analysis:
- Heat map
- Bar Chart
- Scatter Chart
- Line Chart

**Categorical & Categorical --> (Stacked Column Chart)**

**Categorical & numerical --> (scatter plot, histogram, box plot)**

**numerical & numerical --> (Scatter plot, line chart)**

We could also use a correlation matrix to get more specific information about the relationship between these two variables.